
<form action="/bookmarks/create" method="post">
  <label for="url">
    Add URL
    <input type="text" name="url" placeholder="URL" />
    <input type="text" name="title" placeholder="Title" />
  </label>
  <input type="submit" value="Submit" />
</form>