<h1> Welcome to the Bookmark Manager!</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>

<a href="/bookmarks/add">Add Bookmark</a>
